.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
#Icon?
ehthumbs.db
Thumbs.db


#.gitignore
.idea
.idea/*
.git/*
.git
config.codekit
.sass-cache


*.log
logs/*
runtime/
public/assets/*
assets.bat
.codekit-cache/*
.sass-cache/*
public/storage/
public/html/server
public/data.html
assets/
!GWD HTML5 Banners/**/assets
!GWD-HTML5-Banners/**/assets




**/node_modules/*
node_modules/*
/node_modules/*
*.phpproj*
*.suo

# SUBLIME TEXT
*.sublime-project
*.sublime-workspace